<div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2">
  <div class="jumbotron">
  <h3>Currently Grading:<h3>
  <h2>
    <%= @presentation.presenter_name %>'s Presentation on <%= @presentation.topics %>
  </h2>
  <h3>(All fields except Comments are required)</h3>
  <h3>1 = Awful, 10 = Fantastic</h3>
  </div>
  <%= form_for @grade_submission, url: classroom_presentation_grade_submissions_path(@classroom, @presentation) do |f| %>
    <div class="form-group">
      <%= f.label :email, 'Your email?' %>
      <%= f.text_field :email, class: 'form-control' %>
      <%= errors_for(@grade_submission, :email) %>
    </div>
    <div class="form-group">
      <%= f.label :good_description, 'Was the website with <span class="text-success">good UI</span> described well?<br>(1 = Not at all, 10 = Extremely well)'.html_safe %>
      <br>
      <%= errors_for @grade_submission, :good_description %>
      <% (1..10).to_a.each do |x| %>
        <label for="grade_submission[good_description]" class="radio-inline">
        <%= f.radio_button :good_description, x %>
        <%= x %>
        </label>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :good_support, 'Did the presenter provide good supporting reasons for why the website\'s UI was <span class="text text-success">good</span>?<br>(1 = Not at all, 10 = Yes, plenty, and they all made sense)'.html_safe %>
      <br>
      <%= errors_for(@grade_submission, :good_support) %>
      <% (1..10).to_a.each do |x| %>
        <label for="grade_submission[good_support]" class="radio-inline">
        <%= f.radio_button :good_support, x %>
        <%= x %>
        </label>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :good_agree, 'Do you agree that the presenter\'s example of a website with <span class="text text-success">good UI</span> indeed has a <span class="text text-success">good user interface</span>?<br>(1 = I completely disagree, 10 = I agree 110%)'.html_safe %>
      <br>
      <%= errors_for(@grade_submission, :good_agree) %>
      <% (1..10).to_a.each do |x| %>
        <label for="grade_submission[good_agree]" class="radio-inline">
        <%= f.radio_button :good_agree, x %>
        <%= x %>
        </label>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :bad_description, 'Was the website with <span class="text-danger">bad UI</span> described well?<br>(1 = Not at all, 10 = Extremely well)'.html_safe %>
      <br>
      <%= errors_for(@grade_submission, :bad_description) %>
      <% (1..10).to_a.each do |x| %>
        <label for="grade_submission[bad_description]" class="radio-inline">
        <%= f.radio_button :bad_description, x %>
        <%= x %>
        </label>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :bad_support, 'Did the presenter provide good supporting reasons for why the website\'s UI was <span class="text text-danger">bad</span>?<br>(1 = Not at all, 10 = Yes, plenty, and they all made sense)'.html_safe %>
      <br>
      <%= errors_for(@grade_submission, :bad_support) %>
      <% (1..10).to_a.each do |x| %>
        <label for="grade_submission[bad_support]" class="radio-inline">
        <%= f.radio_button :bad_support, x %>
        <%= x %>
        </label>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :bad_agree, 'Do you agree that the presenter\'s example of a website with <span class="text text-danger">bad UI</span> indeed has a <span class="text text-danger">bad user interface</span>?<br>(1 = I completely disagree, 10 = I agree 110%)'.html_safe %>
      <br>
      <%= errors_for(@grade_submission, :bad_agree) %>
      <% (1..10).to_a.each do |x| %>
        <label for="grade_submission[bad_agree]" class="radio-inline">
        <%= f.radio_button :bad_agree, x %>
        <%= x %>
        </label>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :improvement, 'Did the presenter give examples of ways to improve on the website with <span class="text text-danger">bad UI</span>?<br>(1 = I completely disagree, 10 = I agree 110%)'.html_safe %>
      <br>
      <%= errors_for(@grade_submission, :improvement) %>
      <% (1..10).to_a.each do |x| %>
        <label for="grade_submission[improvement]" class="radio-inline">
        <%= f.radio_button :improvement, x %>
        <%= x %>
        </label>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :design_pattern, 'Did the presentation give two examples of design patterns used in each websites?<br>(1 = None, 10 = Two for each website)'.html_safe %>
      <br>
      <%= errors_for(@grade_submission, :design_pattern) %>
      <% (1..10).to_a.each do |x| %>
        <label for="grade_submission[design_pattern]" class="radio-inline">
        <%= f.radio_button :design_pattern, x %>
        <%= x %>
        </label>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :appropriate_length, 'Was the presentation\'s length appropriate?<br>(1 = Not Appropriate, 10 = Perfectly Appropriate)'.html_safe %>
      <br>
      <%= errors_for(@grade_submission, :appropriate_length) %>
      <% (1..10).to_a.each do |x| %>
        <label for="grade_submission[appropriate_length]" class="radio-inline">
        <%= f.radio_button :appropriate_length, x %>
        <%= x %>
        </label>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :comments, 'Comments on this presentation:' %>
      <%= errors_for(@grade_submission, :comments) %>
      <%= f.text_area :comments, class: 'form-control' %>
    </div>
    <%= submit_tag 'Submit Grade', class: 'btn btn-large btn-primary' %>
  <% end %>
</div>